img {
    max-width: 250px;
    max-height: 150px;
    margin-top: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  span {
    font-size: 2em;
    font-weight: bold;
  }
  
  .maquillajes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .maquillajes > * {
    flex: 1 1;
  }
  
  .maquillaje {
    background: transparent;
    text-align: center;
    cursor: pointer;
    min-width: 310px;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s ease-out;
  }
  
  .maquillaje:hover {
    transform: scale(1.1);
  }
  
  .maquillaje figcaption {
    padding: 1em;
  }
  .contenedor-principal-factura{
    overflow: scroll;
  }